name: lambda

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: "Build, Test and Package"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Prune dependencies for production
        run: npm prune --production

      - name: Run build
        run: npm build

      - name: zip
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: montudor/action-zip@v0.1.0
        with:
          args: zip -qq -r ${{ github.event.repository.name }}-${{ github.run_number }}.zip dist node_modules package.json

      - name: Configure AWS Credentials
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: ${{ secrets.OPERATIONS_ROLE_TO_ASSUME }}
          role-duration-seconds: 1200
          role-session-name: lambda-github-action

      - name: Upload to S3
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          aws s3 cp ${{ github.event.repository.name }}-${{ github.run_number }}.zip s3://artefact-s3-bucket-by6ogp3a7rbv/${{ github.event.repository.name }}/${{ github.event.repository.name }}-${{ github.run_number }}.zip

      - name: Slack Notification
        if: always()
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: GitHub Action
          fields: repo,commit,message,author
          mention: here
          if_mention: failure,cancelled
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
